.root{
	-fx-font-size: 12px;
}

.text-feild{
	-fx-font-size: 12px;
}
#groupLabel {
	-fx-font-size: 27px;
	-fx-font-family: Calibri;
	-fx-font-style: italic;
	-fx-font-weight: bold;
}
#headerLabel {
	-fx-font-size: 21px;
	-fx-font-family: Calibri;
	-fx-font-style: italic;
	-fx-font-weight: bold;
}
